[user]
        name = Moritz Behnke
        email = moritz.behnke@me.com
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
        fush = push --force-with-lease
        dad = !curl https://icanhazdadjoke.com/ && echo
        full = "!git reset --hard origin/\"$(git rev-parse --abbrev-ref HEAD)\""
        remaster = "!sh -c 'git fetch origin main:main && git rebase main'"
        relock = rebase -x 'pnpm && git add pnpm-lock.yaml && git commit --amend -C HEAD'
        delete-merged-branches = "!sh -c 'git co main && git branch --merged | grep -v \\* | xargs git branch -D'; git co -"
[core]
        editor = code -w
[push]
        default = current
[pull]
        rebase = false
[includeIf "gitdir:~/Developer/uke/"]
        path = ~/Developer/uke/.gitconfig
